apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  labels:
    k8s-ai-bench/task: tls-optional
  name: resource-002
  namespace: gk-tls-optional
spec:
  rules:
  - host: example-host.example.com
    http:
      paths:
      - backend:
          service:
            name: nginx
            port:
              number: 80
        path: /
        pathType: Prefix
