apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: resource-alpha-0
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi
  storageClassName: allowed-storage-class
  volumeMode: Filesystem