apiVersion: v1
kind: Service
metadata:
  annotations:
    a8r.io/owner: dev-team-alfa@contoso.com
    a8r.io/runbook: https://confluence.contoso.com/dev-team-alfa/runbooks
  name: resource-alpha-0
spec:
  ports:
  - name: http
    port: 80
    targetPort: 8080
  selector:
    app: foo