apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  labels:
    k8s-ai-bench/task: unique-ingress-host
  name: ingress-host-example
  namespace: gk-unique-ingress-host
spec:
  rules:
  - host: example-host.example.com
    http:
      paths:
      - backend:
          service:
            name: nginx
            port:
              number: 80
        path: /
        pathType: Prefix
