apiVersion: v1
kind: Service
metadata:
  name: resource-alpha-0
spec:
  externalIPs:
  - 203.0.113.0
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: MyApp