apiVersion: v1
kind: Pod
metadata:
  labels:
    k8s-ai-bench/task: allowed-reposv2
  name: resource-003
  namespace: gk-allowed-reposv2
spec:
  containers:
  - image: nginx
    name: nginx
    resources:
      limits:
        cpu: 1m
        memory: 1Mi
