apiVersion: v1
kind: Pod
metadata:
  labels:
    k8s-ai-bench/task: allowed-repos
  name: resource-002
  namespace: gk-allowed-repos
spec:
  containers:
  - image: nginx
    name: nginx
    resources:
      limits:
        cpu: 1m
        memory: 1Mi
