apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx
    k8s-ai-bench/task: pod-disruption-budget
  name: resource-005
  namespace: gk-pod-disruption-budget
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
      example: allowed-deployment-3
  template:
    metadata:
      labels:
        app: nginx
        example: allowed-deployment-3
    spec:
      containers:
      - image: nginx:1.14.2
        name: nginx
        ports:
        - containerPort: 80
