apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  labels:
    k8s-ai-bench/task: pod-disruption-budget
  name: resource-002
  namespace: gk-pod-disruption-budget
spec:
  maxUnavailable: 0
  selector:
    matchLabels:
      foo: bar
