apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: resource-beta
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi
  storageClassName: badstorageclass
  volumeMode: Filesystem
