apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  labels:
    k8s-ai-bench/task: block-wildcard-ingress
  name: resource-003
  namespace: gk-block-wildcard-ingress
spec:
  rules:
  - http:
      paths:
      - backend:
          service:
            name: example
            port:
              number: 80
        path: /
        pathType: Prefix
