apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-ai-bench/task: must-have-set-of-annotations
  name: resource-002
  namespace: gk-must-have-set-of-annotations
spec:
  ports:
  - name: http
    port: 80
    targetPort: 8080
  selector:
    app: foo
